@import "tailwindcss";


@source "../app/**/*";
@source "../components/**/*";


/* 🔥 REQUIRED FOR TAILWIND v4 */
@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../pages/**/*.{js,ts,jsx,tsx}";

body {
  font-family: var(--font-poppins), sans-serif;
}

/* animations */
@layer utilities {
  @keyframes slideLine {
    0% { width: 0%; opacity: 0.2; }
    40% { width: 40%; opacity: 1; }
  }

  .animate-slide {
    animation: slideLine 1.8s ease-out forwards;
  }
}

@keyframes move {
  0% { left: 0%; }
  100% { left: 100%; }
}

.animate-move {
  animation: move 5s linear infinite;
}
